/* 
.inverted {
	-webkit-mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20160%2090%22%3E%3Cpath%20d%3D%22M5%2C0H155A5%2C5%200%2C0%2C1%20160%2C5V85A5%2C5%200%2C0%2C1%20155%2C90H6A6%2C6%200%2C0%2C1%200%2C84V15A5%2C5%200%2C0%2C1%205%2C10H45A5%2C5%200%2C0%2C0%2050%2C5V5A5%2C5%200%2C0%2C1%2055%2C0%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat center / contain;
    	mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20160%2090%22%3E%3Cpath%20d%3D%22M5%2C0H155A5%2C5%200%2C0%2C1%20160%2C5V85A5%2C5%200%2C0%2C1%20155%2C90H6A6%2C6%200%2C0%2C1%200%2C84V15A5%2C5%200%2C0%2C1%205%2C10H45A5%2C5%200%2C0%2C0%2050%2C5V5A5%2C5%200%2C0%2C1%2055%2C0%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat center / contain;
    width: 95%;
    height: 98%;
    aspect-ratio: 16 / 9;

        align-items: center;
    display: flex;
    background-color: #7B76CA;
}
.hero{
    margin: 0;
    margin-top: 15;
}


.card1 {
	-webkit-mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Cpath%20d%3D%22M0%2C0H95A5%2C5%200%2C0%2C1%20100%2C5V70A10%2C10%200%2C0%2C1%2090%2C80H80A10%2C10%200%2C0%2C0%2070%2C90V90A10%2C10%200%2C0%2C1%2060%2C100H5A5%2C5%200%2C0%2C1%200%2C95V15A5%2C5%200%2C0%2C1%205%2C10H45A5%2C5%200%2C0%2C0%2050%2C5V5A5%2C5%200%2C0%2C1%2055%2C0%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat center / contain;
    	mask: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Cpath%20d%3D%22M0%2C0H95A5%2C5%200%2C0%2C1%20100%2C5V70A10%2C10%200%2C0%2C1%2090%2C80H80A10%2C10%200%2C0%2C0%2070%2C90V90A10%2C10%200%2C0%2C1%2060%2C100H5A5%2C5%200%2C0%2C1%200%2C95V15A5%2C5%200%2C0%2C1%205%2C10H45A5%2C5%200%2C0%2C0%2050%2C5V5A5%2C5%200%2C0%2C1%2055%2C0%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E') no-repeat center / contain;
	width: 250px;

    align-items: center;
    display: flex;

	background-color: #bdcca5;
	aspect-ratio: 1 / 1;
} */